.DS_Store
*.psd
workfiles/
release/
icons/svg/abcnews.svg
icons/svg/adguard.svg
icons/svg/aljazeera.svg
icons/svg/amazonmusic.svg
icons/svg/amazonprime.svg
icons/svg/appletv.svg
icons/svg/appstore.svg
icons/svg/bbciplayer.svg
icons/svg/buttonremapper.svg
icons/svg/chrome.svg
icons/svg/criterion.svg
icons/svg/crunchyroll.svg
icons/svg/disneyplus.svg
icons/svg/downloader.svg
icons/svg/dropbox.svg
icons/svg/duckduckgo.svg
icons/svg/files.svg
icons/svg/formula1.svg
icons/svg/foxnews.svg
icons/svg/googlehome.svg
icons/svg/googlemaps.svg
icons/svg/googleplay.svg
icons/svg/googleplaygames.svg
icons/svg/hbomax.svg
icons/svg/iqiyi.svg
icons/svg/jellyfin.svg
icons/svg/kodi.svg
icons/svg/localsend.svg
icons/svg/nasa.svg
icons/svg/nbcnews.svg
icons/svg/nbcsports.svg
icons/svg/netflix.svg
icons/svg/nuvio.svg
icons/svg/paramountplus.svg
icons/svg/plex.svg
icons/svg/projectivy.svg
icons/svg/protonvpn.svg
icons/svg/realdebrid.svg
icons/svg/redbulltv.svg
icons/svg/settings.svg
icons/svg/smarttube.svg
icons/svg/soundcloud.svg
icons/svg/spotify.svg
icons/svg/steam.svg
icons/svg/stremio.svg
icons/svg/syfy.svg
icons/svg/tizentube.svg
icons/svg/twitch.svg
icons/svg/vidio.svg
icons/svg/vlc.svg
icons/svg/wuplay.svg
icons/svg/youtube.svg
icons/svg/youtubekids.svg
icons/svg/youtubemusic.svg
